.template-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff; /* White background */
    margin-top: 100px;
    justify-content: center;
    align-items: start;
    font-size: 12px;
}

.template-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 20px;
    color: #6c757d; /* Dark Grey text */
}

.template-form input,
.template-form textarea {
    padding: 5px;
    margin-top: 2px;
    font-size: 12px;
    height: 20px;
}

.template-form select {
    padding: 0;
    font-size: 12px;
    height: 22px;
    border: 1px solid #6c757d; /* Dark Grey border */
    background-color: #ffffff; /* White background */
    color: #6c757d; /* Dark Grey text */

}

.template-form button {
    grid-column: span 2;
    padding: 5px;
    margin-left: 50px;
    background-color: #ff9900; /* Orange background */
    color: #ffffff; /* White text */
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    width: 50%;

}

.template-form button:disabled {
    background-color: #cccccc;

}

.constructionSite-data {
    background-color: white;
}

.template-form .error {
    color: red;
    font-size: 8px;
    margin-top: 2px;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 280px;
    left: 0;
    width: calc(100% - 20px);
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.search-results li:last-child {
    border-bottom: none;
}

.error {
    color: red;
    font-size: 0.8em;
}