.template-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    width: 98%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    /* margin-top: 100px; */
    justify-content: center;
    align-items: start;
    font-size: 12px;
}

.template-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 20px;
    color: #6c757d;
    font-size: 16px;
}

.template-form input,
.template-form textarea {
    padding: 0px;
    margin-top: 2px;
    font-size: 12px;
    height: 30px;
}

.template-form select {
    padding: 0;
    font-size: 12px;
    height: 22px;
    border: 1px solid #6c757d;
    background-color: #ffffff;
    color: #6c757d;

}

.template-form button {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px; 
    width: 60%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3); 
}

.template-form button:hover {
    background-color: #0056b3; 
    box-shadow: 0px 6px 12px rgba(0, 123, 255, 0.4); 
}

.template-form button:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
    box-shadow: none; 
}

.constructionSite-data {
    background-color: white;
}

.template-form .error {
    color: red;
    font-size: 8px;
    margin-top: 2px;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin-top: 22px;
    position: absolute;
    top: 280px;
    left: 0;
    width: calc(100% - 20px);
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.search-results-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}





